In [36]:
## Para los usuarios nativos (o superior) en español obtenga una serie cuyo índice sea
## cada uno de los otros idiomas que sabe y valor sea el nivel promedio (tomando N=4.5)

In [37]:
import pandas as pd

In [62]:
languages = pd.read_csv('languages.csv')
languages.head()

   babel_user babel_lang babel_level
0     4502458         FR           2
1     5928200         aa           0
2       46918         ab           0
3     2050449         ab           1
4     4715583        ace           0

In [39]:
languages.babel_level.value_counts()

N    11534
1     7589
2     6453
3     5850
4     2504
0     1092
5      644
Name: babel_level, dtype: int64

In [40]:
languages.dtypes

babel_user      int64
babel_lang     object
babel_level    object
dtype: object

In [41]:
languages.babel_level = languages.babel_level.map({'N':0,'0':0,'1':1,'2':2,'3':3,'4':4,'5':5})

In [53]:
languages.babel_level=languages.babel_level.astype(float)

In [54]:
languages.dtypes

babel_user       int64
babel_lang      object
babel_level    float64
dtype: object

In [55]:
languages.loc[languages.babel_lang == 'es']

       babel_user babel_lang  babel_level
13642        4456         es          0.0
13643       19241         es          0.0
13644       34951         es          0.0
13645       36395         es          0.0
13646       36702         es          0.0
...           ...        ...          ...
24100     6305012         es          0.0
24101     6306637         es          0.0
24102     6327193         es          0.0
24103     6327824         es          0.0
24104     6332447         es          0.0

[10463 rows x 3 columns]

In [61]:
languages.loc[(languages.babel_level >= 4.5) & (languages.babel_lang == 'es')]

       babel_user babel_lang  babel_level
15166       15689         es          5.0
15167       16907         es          5.0
15168       27496         es          5.0
15169       34643         es          5.0
15170       40109         es          5.0
...           ...        ...          ...
15337     6118179         es          5.0
15338     6154161         es          5.0
15339     6163304         es          5.0
15340     6183872         es          5.0
15341     6283630         es          5.0

[176 rows x 3 columns]

In [63]:
lang = pd.read_csv('languages.csv')

In [74]:
lang.head()
lang.babel_level = lang.babel_level.map({'N':0,'0':0,'1':1,'2':2,'3':3,'4':4,'5':5})
lang.babel_level=lang.babel_level.astype(float)

In [75]:
grouped = lang.groupby(['babel_user','babel_lang']).agg({'babel_level':'mean'})

In [82]:
grouped.head(20)

                       babel_level
babel_user babel_lang
30         de                  1.0
           en                  2.0
           es                  3.0
           fr                  0.0
           it                  1.0
           ja                  1.0
           nl                  1.0
           pt                  1.0
           zh                  1.0
38         en                  3.0
           es                  0.0
262        en                  4.0
           eo                  2.0
           es                  0.0
           fr                  1.0
267        en                  3.0
           es                  0.0
           fr                  1.0
           pt                  2.0
294        cs                  1.0